
.header {
    width: 1052px;
    min-width: 1052px;
    height: 105px;
    min-height: 105px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 105px;
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;
}

.header__menu {
    grid-column: 1;
}

.header__links-list {
    display: flex;
    place-self: center;
    grid-column: 1;
    gap: 32px;
    padding-left: 25px;
    padding-top: 45px;
    font-weight: 400;
    font-size: 18px;
}

.header__links-list-item {
    list-style: circle;
    text-decoration: underline 1px;
    white-space: nowrap;
    letter-spacing: 0.2px;
    text-underline-offset: 3.5px;
  }

/* класс для строки навиг. блока без символа */
.header__link_active {
    list-style: none;
    text-decoration: none;
    gap: 15px;
}

.header_logo {
    padding-left: 40px;
    grid-column: 2;
    justify-self: start;
}

.header_logo-image {
    height: 105px;
    min-height: 105px;
}

.header__address {
    grid-column: 3;
    font-style: normal;
    place-content: center;
    place-self: start end;
    padding-top: 6px;
    padding-right: 64px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    text-underline-offset: 3.5px;
}

.cover {
    height: 757px;
    min-height: 757px;
    width: 1100px;
    min-width: 1100px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -139px;
    
}

.overlay {
    background-color: rgba(0 0 0 / 0.6);
    width: 100%;
    height: 100%;
}

.cover__title {
    width: 1000px;
    height: 355px;
    margin: auto;
    padding-top: 165px;
    color: white;
    font-size: 100px;
    line-height: 115px;
    letter-spacing: 30px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    padding-top: 13px;
}

.aligned-text_right {
    display: block;
    margin-right: 0px;
    padding-left: 584px;
    padding-top: 5px;
    text-align: end;
}

.no-letter-spacing {
    letter-spacing: 30px;
}

.cover__description {
    margin: 254px 20px 0px 0px;
    padding-top: 48px;
}

.cover__description_text {
    padding-left: 78px;
    margin-right: 55px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    word-spacing: 18px;
    letter-spacing: 0.1px;
}

.bet-button {
    width: 256px;
    height: 51px;
    background-color: transparent;
    border: 1px white solid;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
}

.lots {
    width: 1052px;
    min-width: 1052px;
    height: 692px;
    min-height: 692px;
    margin: 179px 24px 0px;
}

.lots__heading {
    padding-left: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
}

.lots__card-list {
    margin-top: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    flex-grow: 1;
}

.lots__card-list-item {
    width: 334px;
    min-width: 334px;
    height: 563px;
    min-height: 563px;
}

.card_link {
    height: 100%;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: end;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -103px;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -103px;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -103px;
}

.card__title {
    padding: 51px 40px 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: underline 1px;
    text-underline-offset: 3px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
}

.card__text {
    padding:0px 40px 48px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.lots__look-more-link {
    display: block;
    padding: 30px 40px 0px;
    text-decoration: underline 1px;
    text-underline-offset: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;
}

.about {
    margin: 146px 24px 0px 24px;
    height: 595px;
    width: 1052px;
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 281.5px 140.75px 140.75px;
}

.about__logo {
    width: 240px;
    height: 240px;
    min-width: 240px;
    min-height: 240px;
    margin-top: 35px;
    margin-left: 47px;
    grid-column: 1;
    grid-row: 1/3;
    background-color: black;
    border-radius: 50%;
}

.about__logo-image {
    width: 62%;
    margin-top: 64px;
    margin-left: 46.5px;
}

.about__title {
    grid-column: 2/3;
    justify-self: start;
    align-self: center;
    padding: 40px 0px 0px 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
}

.about__text {
    grid-column: 2/3;
    padding-left: 25px;
    padding-top: 2px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05px;
}

.footer {
    width: 1000px;
    height: 98px;
    margin: 180px 50px 88px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 98px;
}

.footer__address {
    grid-column: 1/2;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    text-underline-offset: 3.5px;
}

.footer__menu {
    grid-column: 2/3;
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

.footer__menu-list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: solid black 1px;
}

.footer__social-list {
    padding-left: 93px;
    grid-column: 3/4;
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.footer__social-icon {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
}